@using SistemaRestaurante.Presentation.Shared
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Caminho não encontrado</PageTitle>
            <LayoutView>
                <div class="d-flex justify-content-center align-items-center min-vh-100">
                    <div class="d-flex flex-column align-items-center">
                        <h1 role="alert">Esse caminho não existe</h1>
                        <button class="btn btn-link p-0"
                                @onclick='() => Navigation.NavigateTo("/login", forceLoad: true)'>
                            Voltar para o login
                        </button>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
